@import 'include';

body {
  margin         : 0;
  padding        : 0;

  //background     : linear-gradient(to right, #3f4c6b, #606c88);

  background-image : url(https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png);

  font-family    : $ff_base;
  font-smoothing : antialiased;
}

*, *::before, *::after {
  box-sizing : border-box;
}

#app {
  max-width        : 500px;
  //padding          : 1em;
  margin           : 1em auto;
  border-radius    : 1px;
  background-color : #fff;

  min-height       : 70vh;
  box-shadow: 8px 8px 34px rgba(0, 0, 0, 0.13);
}